<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@localizer["APP_TITLE"]</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home"/>
                <span aria-hidden="true"></span> @localizer["NAV_MENU_HOME"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="trains-page">
                <MudIcon Icon="@Icons.Material.Filled.Train" />
                <span aria-hidden="true"></span> @localizer["NAV_MENU_TRAINS"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="fetchdata">
                <MudIcon Icon="@Icons.Material.Filled.Home" />
                <span aria-hidden="true"></span> @localizer["NAV_MENU_FETCH_DATA"]
            </NavLink>
        </div>
    </nav>
</div>